<h1>List of all questions</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p><strong>Quote of the day: <%= @response %></strong></p>

<%= link_to 'New question', new_question_path %>

<table>
  <tr>
    <th>Upvote</th>
    <th>Downvote</th>
    <th>Votes</th>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @questions.each do |question| %>
    <tr>
      <td><%= link_to 'Upvote', upvote_question_path(question), method: 'patch' %></td>
      <td><%= link_to 'Downvote', downvote_question_path(question), method: 'patch' %></td>
      <td><%= question.votecount %></td>
      <td><%= question.title %></td>
      <td><%= question.content %></td>
      <td><%= link_to 'Show', question_path(question) %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Delete', question_path(question),
      method: :delete,
      data: { confirm: "Do you really want to delete?" } %></td>
    </tr>
  <% end %>
</table>
