<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<h2>Answers</h2>

<p>-----------------</p>

<% @question.answers.each do |answer| %>

  <tr>
    <td><%= link_to 'Upvote', upvote_question_answer_path(answer.question_id, answer.id), method: 'patch' %></td>
    <td><%= link_to 'Downvote', downvote_question_answer_path(answer.question_id, answer.id), method: 'patch' %></td>
  </tr>

  <p>
    <strong>Votecount:</strong>
    <%= answer.votecount %>
  </p>

  <p>
    <strong>Answerer:</strong>
    <%= answer.answerer %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= answer.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= answer.content %>
  </p>

  <p>-----------------</p>
<% end %>

<%= render 'answers/new' %>

<%= link_to 'Edit', edit_question_path(@question) %>

<%= link_to 'Back', questions_path %>
